* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  
  /* Default colors - will be overridden by config */
  --color-darkest: #1c1c1c;
  --color-light-gray: #daddd8;
  --color-lighter-gray: #ecebe4;
  --color-lightest-gray: #eef0f2;
  --color-background: #fafaff;
  
  /* Background image - will be overridden by config */
  --bg-image-url: none;
  --bg-image-opacity: 0.1;
  --bg-image-position: center;
  --bg-image-size: cover;
  --bg-image-repeat: no-repeat;
  
  color: var(--color-darkest);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: var(--color-background);
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image-url);
  background-position: var(--bg-image-position);
  background-size: var(--bg-image-size);
  background-repeat: var(--bg-image-repeat);
  opacity: var(--bg-image-opacity);
  z-index: -1;
  pointer-events: none;
}

#root {
  min-height: 100vh;
  position: relative;
}
